@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding:0;
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Page*/
.page {
  @apply md:p-12 p-4
}

.page__title {
  @apply font-semibold mb-4 text-2xl
}

.page__content {
  @apply bg-white border border-stroke-gray p-4 shadow-sm
}
